/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }
 body {
     line-height:1;
 }
 article,aside,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section {
     display:block;
 }
 nav ul {
     list-style:none;
 }
 blockquote, q {
     quotes:none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content:'';
     content:none;
 }
 a {
     margin:0;
     padding:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }
 /* change colours to suit your needs */
 ins {
     background-color:#ff9;
     color:#000;
     text-decoration:none;
 }
 /* change colours to suit your needs */
 mark {
     background-color:#ff9;
     color:#000;
     font-style:italic;
     font-weight:bold;
 }
 del {
     text-decoration: line-through;
 }
 abbr[title], dfn[title] {
     border-bottom:1px dotted;
     cursor:help;
 }
 table {
     border-collapse:collapse;
     border-spacing:0;
 }
 /* change border colour to suit your needs */
 hr {
     display:block;
     height:1px;
     border:0;
     border-top:1px solid #cccccc;
     margin:1em 0;
     padding:0;
 }
 input, select {
     vertical-align:middle;
 }
 
 *{
 -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
 }
 
 /* Styles */

 html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
 }

 main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#B068E9, #6463E7);
 }

 .card {
    min-width: 32.7rem;
    height: 53.3rem;
    border-radius: 1.5rem;
    background: #FFF; 
    margin: 3rem;
    padding: 0 1rem;
 }

 .card__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #card__logo__logo {
    width: 30rem;
    height: 19rem;
    margin-top: -9rem;
    background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
    fill: #000;
    display: block;
 }

 #card__logo__shadow {
    width: 26.6rem;
    height: 11rem;
    margin-top: -8rem;
    margin-left: 2rem;
    background: url(../images/bg-pattern-mobile.svg) no-repeat;
    fill: #000;
    display: block;
}

 .card__title {
     text-align: center;
     font-size: 3.2rem;
     color: #1E1F36;
 }

 .card__faq {
     margin-top: -7.2rem;
 }

 .card__accordion {
     margin-top: 5rem;
 }

 .accordion-item {
     padding: 0.8rem 0;
 }

 .accordion-button {
    font-size: 1.3rem !important;
    color: #4B4C5F;
 }
 .accordion__collapsed {
    color: #1E1F36 !important;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    background: none !important;
 }

 .accordion__collapsed__body {
     font-size: 1.3rem !important;
     font-weight: normal !important;
     color: #4B4C5F !important;
 }

 @media only screen and (min-width: 768px) {
     .card {
         max-width: 92.0rem;
         height: 50.9rem;
         overflow: hidden;
     }

     .card__logo {
        position: relative;
        top: 20rem;
        left: -6.6rem;
     }

     .card__title {
        text-align: start;
        font-size: 3.2rem;
        color: #1E1F36;
        margin-top: 8rem;
     }

     .card__accordion {
         padding: 0 7rem 0 0;
     }

     #card__logo__logo {
        width: 48.1rem;
        height: 36rem;
        background: url(../images/illustration-woman-online-desktop.svg) no-repeat;
        fill: #000;
        display: block;
    }

    #card__logo__shadow {
        width: 97rem;
        background: url(../images/bg-pattern-desktop.svg) no-repeat;
        fill: black;
        height: 100vh;
        margin-top: -72rem;
        margin-left: -50rem;
        display: block;
    }
 }